{% extends "base.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/details.css' %}" />
{% endblock %} {% block content %}

<div class="car-card">
  <img src="{{ object.photo.url }}" alt="" />
  <div class="car-card-info">
    <h2>{{ object.brand }} - {{ object.model }}</h2>
    <p><strong>Ano de fabricação:</strong>{{ object.factory_year }}</p>
    <p><strong>Ano do modelo:</strong>{{ object.model_year }}</p>
    <p><strong>Placa:</strong>{{ object.plate }}</p>
    <p><strong>Valor:</strong>R$ {{ object.value }}</p>
    {% if object.description %}
    <p><strong>Descrição:</strong>{{ object.description }}</p>
    {% endif %}
  </div>
  {% if user.is_authenticated %}
  <div class="btn">
    <button><a href="{% url 'car_update' object.pk %}">Editar carro</a></button>
    <button class="delete">
      <a href="{% url 'car_delete' object.pk %}">Excluir carro</a>
    </button>
  </div>
  {% endif %}
</div>

{% endblock %}
