form {
  width: 100%;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form > .btn {
  margin-top: 0.5rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

form > .btn > button[type="submit"],
form > .btn > button {
  border: none;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  border-radius: 0.25rem;
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
  cursor: pointer;
}

form > .btn > button[type="submit"] {
  background-color: #d41d1d;
}

form > .btn > button > a {
  text-decoration: none;
  color: #ffffff;
}
